extends ../template.pug

mixin sidebarLink(link, text, pageName)
	| {{if eq "#{pageName}" $.pageName}}
	a.sidebar-link.active(href=link) #{text}
	| {{else}}
	a.sidebar-link(href=link) #{text}
	| {{end}}

block head
	title {{.user.UserName}}

block css
	link(rel="stylesheet", href="/assets/account.css")

block body
	div.panel.page-sidebar
		h4.sidebar-header Account Settings
		+sidebarLink("/account/profile", "Profile", "profile")
		+sidebarLink("/account/security", "Security", "security")
		+sidebarLink("/account/notifications", "Notifications", "notifications")
	div.panel.page-body
		block account-body
