include tags.pug

mixin noteItem(link, notePipeline)
	div.list-item
		div.item-right
			div.item-title
				a(href=link) {{#{notePipeline}Title}}
			div.item-date
				| Last Updated - {{#{notePipeline}UpdatedAt.Format "2006-01-02"}}
			div.item-description {{#{notePipeline}Description}}
			+tagList(notePipeline + "Tags")

mixin collectionItem(link, collectionPipeline)
	div.list-item
		div.item-right
			div.item-title
				a(href=link) {{#{collectionPipeline}Title}}
			div.item-date
				| Last Updated - {{#{collectionPipeline}UpdatedAt.Format "2006-01-02"}}
			div.item-description {{#{collectionPipeline}Description}}
			+tagList(collectionPipeline + "Tags")
